<% content_for :page_title, "Register new patient - PMT Tracker" %>

<div class="mx-auto md:w-2/3 w-full">
  <h2 class="mb-10 text-xl font-bold text-gray-900 dark:text-white">Add new patient </h2>
  <%= render "form", patient: @patient %>
</div>
